*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #5E6472;
    background-color: #f9e4d1;
}


/* content */
.content-wrapper{
    padding: 0 120px 0 120px;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
}

.content-1{
    margin: 0 auto;
}

.content-logo{
    text-align: center;
    margin:30px 0;
}

.content-logo img{
    height: 100px;
    width: 100px;
}


.content-1-1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 38px;
}

.content-1-2{
    font-size: 22px;
}

.content-2 img{
    width: 35vw;    /* width: 700px; */
    height: 42vh;    /* height: 500px; */
    margin-left: 40px;
}

.content2-2{
    /* min-width: 725px; */
    min-height: 50vh;    /* min-height: 525px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content2-2 .slide{
    width: 35vw;    /* width: 750px; */
    height: 35vh;    /* height: 400px; */
}

.content2-1{
    text-align: center;
}

.content2{
    margin: 100px 0;
}

.content2-1{
    font-size: 32px;
    margin-bottom: 22px;
}


#slide-right img, #slide-left img{
    height: 30px;
    width: 30px;
    margin: 20px;
}

#slide-right img:hover {
    height: 40px;
    width: 40px;
    transition: 0.4s;
}

#slide-left img:hover {
    height: 40px;
    width: 40px;
    transition: 0.4s;
}

#slide-right img{
    transform: rotate(-180deg);
}

i{
    margin: 0 0;
}

.slide{
    width: 100%;
    height: 100%;
}

#slider-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider-cont img{
    border-radius: 20px;
}



/* responsive design: Laptop 1024px*/
@media only screen and (max-width: 1024px) {
    .content-2 img{
        max-height: 30vh;
    }
    .content2-2{
        min-height: 35vh;
    }
    .content2-2 .slide{
        width: 40vw; 
        height: 25vh; 
    }
}


/* responsive design: Tablet 768px*/
@media only screen and (max-width: 768px) {
    .content-wrapper{
        padding: 0 5% 0 5%;
    }
    .content-1-2{
        font-size: 18px;
    }
    .content-2 img{
        height: 20vh;
    }
    .content2-2{
        min-height: 30vh;
    }
    .content2-2 .slide{
        height: 20vh; 
    }
    #slide-left img, #slide-right img{
        width: 20px;
        height: 20px;
    }
    #slide-left img:hover, #slide-right img:hover{
        width: 30px;
        height: 30px;
    }
}

/* responsive design: Mobile 425px*/
@media only screen and (max-width: 425px) {
    .content-2 img{
        display: none;
    }
    .content-1-2{
        text-align: center;
    }
    .content2-2{
        min-height: 18vh;
    }
    .content2-2 .slide{
        height: 12vh; 
    }
}