*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
   
}

body{
    color: #5E6472;
    background-color: #f9e4d1;
}

/* header */

.header{
    padding: 0 16px 0 16px;
    padding: 15px;
}

.logo img{
    height: 80px;
    width: 80px;
    margin-left: 20px;
}

.dropdown img{
    height: 45px;
    width: 45px;
}

.header-1{
    display: flex;
    justify-content: space-around;
    margin-left: 12px;
}

.header-2, .dropdown{
    margin-top: 18px;
}

.register a{
    margin-right: 12px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #5E6472;
}

.header{
    display: flex;
    justify-content: space-between;
}


/* content */
.content-wrapper{
    padding: 0 120px 0 120px;
    padding: 15px;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-1{
    margin-left: 40px;
}

.content-1-1{
    margin-bottom: 35px;
    text-align: center;
    font-size: 38px;
}

.content-1-2{
    font-size: 22px;
}

.content-2 img{
    width: 700px;
    height: 500px;
    margin-left: 40px;
}


.content2-2 .slide{
    width: 750px;
    height: 400px;
}

.content2-1{
    text-align: center;
}

.content2{
    margin-top: 36px;
}

.content2-1{
    font-size: 32px;
    margin-bottom: 22px;
}


#slide-right img, #slide-left img{
    height: 30px;
    width: 30px;
    margin: 20px;
}

#slide-right img:hover {
    height: 40px;
    width: 40px;
    transition: 0.4s;
}

#slide-left img:hover {
    height: 40px;
    width: 40px;
    transition: 0.4s;
}

#slide-right img{
    transform: rotate(-180deg);
}

i{
    margin: 0 0;
}

.slide{
    width: 100%;
    height: 100%;
}

#slider-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */
.footer{
    background-color: #5E6472;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 16px;
    margin-top: 40px;
}

.medsos img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.copyright{
    font-size: 12px;
}



