@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5E6472;
}

.bg-img {
    position: absolute;
    z-index: -1;
    background-color: #5E6472;
    height: 100vh;
    width: 100vw;
}

#title{
    /* font-family: 'Yellowtail'; */
    font-family: 'Parisienne';
    color: #FAF3DD;
    font-size: 48px;
    margin-bottom: 10px;
}

#form{
    display: flex;
    height: 100vh;
}

#form form {
    color: #FAF3DD;
    font-family: 'Roboto',
    sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: 5E6472;
    background-color: #5E6472;
    /* background-color: rgba(255, 166, 158, 0.8); */
    border-radius: 20px;
    padding: 30px 30px;
    width: 500px;
    margin: auto;
}

.inputs{
    font-size: 18px;
    height: 20px;
    color: #5E6472;
    border: none;
    text-align: center;
    background-color: #B8F2E6;
    padding: 5px 5px 5px 5px;
    transition: all 1s;
    border-radius: 30px;
}

.inputs:hover, inputs:focus{
    /* color: #AED9E0; */
    color: #5E6472;
    background-color: #FFA69E;
    transition: all 1s;
}

#form div label{
    margin-top: 5px;
    margin-bottom: 8px;
}

#form form div{
    display: flex;
    
}

.up-down{
    flex-direction: column;
}

.warning{
    color: #FFA69E;
    /* color: #5E6472; */
    font-size: 18px;
    margin: 7.5px 7.5px;
}

.split{
    display: flex;
    justify-content: space-around;
}

.split div{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.split span #male, .split span #female{
    /* background-color: red;
    display: inline-block;
    width: fit-content; */
}

.split span label{
    /* background-color: red; */
    /* display: inline-block;
    width: fit-content; */
}

form div p{
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

/* .split span{
    display: inline;
    width: fit-content;
    background-color: red;
} */

button{
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: black;
    transition: all 1s;
}

button:hover{
    background-color: #FFA69E;
    color: #AED9E0;
    transition: all 1s;
}

@media all and (max-width : 600px){
    #form form {
        width: 350px;
        font-size: 15px;
        padding: 20px 20px;
        margin: auto;
    }

    .warning {
        color: #5E6472;
        font-size: 12px;
        margin: 5px 5px;
    }

    form div p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
